<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="K2Server" value="192.168.0.159" />
    <add key="K2User" value="UWC\k2adm" />
    <add key="K2Password" value="dohome123" />
    <add key="Domain" value="UWC" />
    <add key="Port" value="5555" />
    <add key="SecurityLabel" value="K2" />
  </appSettings>
  <connectionStrings>
    <add name="DBTRANSConnectionString" connectionString="Data Source=192.168.0.104;Initial Catalog=DBTRANS;Persist Security Info=True;User ID=sa;Password=profit" providerName="System.Data.SqlClient" />
    <add name="DBMASTERConnectionString" connectionString="Data Source=192.168.0.104;Initial Catalog=DBMASTER;Persist Security Info=True;User ID=sa;Password=profit" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.0" />
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows" />
    <!--
       The <customErrors> section enables configuration 
       of what to do if/when an unhandled error occurs 
       during the execution of a request. Specifically, 
       it enables developers to configure html error pages 
       to be displayed in place of a error stack trace.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>
<!--ProjectGuid: 562B2711-BEF1-4805-AF40-AA0900D2EDB6-->